// Helpers
//@import "_helpers/reboot";
@import "_helpers/normalize";
@import "_helpers/tools";
@import "_helpers/variables";
@import "_helpers/mixins";

// Global
@import "_global/_fonts/base";
@import "_global/_fonts/custom";

// Modules
@import "_modules/base";
@import "_modules/tabbar";
@import "_modules/navbar";
@import "_modules/list";
@import "_modules/header";
@import "_modules/card";
@import "_modules/progress-bar";
@import "_modules/icons";
@import "_modules/buttons";


:root {
  font-size: 10px;
  background-color: $background-color; // Temporary bg color.
}

// Write Comments
//  “TODO:” gives a good indication of things we need to check up on.
// Use REM’s & EM’s
// Additional styling is done only with classes. For example, we reboot some <table> styles for a simpler baseline and later provide .table, .table-bordered, and more.
// Use Reboot to normalise HTML elements across browsers.
