
// Global Resets
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,pre { margin: 0; }

body {
   font-family: $primaryfont;
   font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// Headings
h1 {
   @include heading(800);

   font-size: 3.4rem;
   letter-spacing: .2rem;
}
h2 {
   @include heading(800);

   font-size: 2.8rem;
   letter-spacing: .1rem;
}
h3 {
   @include heading(400);

   font-size: 2.4rem;
}
h4 {
   @include heading(400);

   font-size: 2.8rem;
   color: $trainingcolor;
   line-height: 3.4rem;
}

// Paragraph
p {
   font-weight: 400;
   font-size: 2.4rem;
   color: $lightcolor;
   line-height: 3.6rem;
}
