
// Headings
h1.display {
  font-size: 4.8rem;
  letter-spacing: .4rem;
  line-height: 5.8rem;
}

//Paragraph
p.display {
  font-style: italic;
  font-size: 2.4rem;
  color: rgba(254,255,255,0.75);
  line-height: 2.9rem;
}

.strong {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: $trainingcolor;
}
