
//Heading
@mixin heading($fontweight) {
  font-weight: $fontweight;
  color: $lightcolor;
  text-transform: uppercase;
}

//Navbar List
@mixin ul-list {
  //Box-model
  padding: 0 $medium;
  //Typography
  list-style: none;
}
