
// Section colors
$trainingcolor: #ffab1a;
$dietcolor: #00bd53;
$todaycolor: #e92734;
$mecolor: #2196f3;
$morecolor: #c3af91;

// Other colors
$secondarycolor: #b151ca;
$darkcolor: #23282c;
$lightcolor: #ffffff;
$background-color: #1A1E21;

// Fonts
$primaryfont: "Proxima Nova", sans-serif;

// Air/Size Table
$huge: 6.4rem;
$x-large: 4.8rem;
$large: 4.0rem;
$medium: 3.2rem;
$small: 2.4rem;
$x-small: 1.4rem;
$tiny: 1.0rem;
