// Section colors
$dietcolor: #00bd53;
$mecolor: #2196f3;
$morecolor: #c3af91;
$todaycolor: #e92734;
$trainingcolor: #ffab1a;

// Other colors
$secondarycolor: #b151ca;
$darkcolor: #23282c;
$lightcolor: #ffffff;
