

#diet {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  // background-position: center;
}

// Todo: fix fonts and styleing

.comming-soon-text {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.comming-soon-text img {
  margin-bottom: 20px;
}
