

#launch {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  // background-position: center;
}


// todo: delete styleing below
// .background-image {
//  width: 100%;
//}

#launch_buttons {
  width: calc(100% - 80px);
  height: 90px;
  margin-left: 40px;
  position: absolute;
  bottom: 44px;
}
