
body { // Maybe not necessary?
  margin: 0;
  // TODO: Fix launchscreen. (Deleted overflow:hidden;)
}


// Button
button:focus,
input:focus {
  outline: none;
}

// Input
input[type=search] { // Overrides Safari mobiles annoying border-radius on input elements.
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}


// Ordered List
ol {
  //Box-model
  padding: 0 2.4rem;
  //Typography
  font-size: 2.4rem;
  font-weight: 400;
  color: $lightcolor;
  line-height: 3.6rem;
  //Misc.
  list-style-type: disc;
}
