
<<<<<<< HEAD
// card
// card stack

// Card slider on traning ----------

// Workout program counter
.program-count {
  text-align: center;
  margin: $x-small 0;
}

// Slide between programs
.card-slider {
  height: 440px; // Original size is 140px!!!!!
  overflow-y: hidden;
}


.card-slider::-webkit-scrollbar {
    display: none;
}


.workout-cards-list li {
  display: inline-block;
}




// Program iten
.workout-cards-item {
  height: 100%;
  width: calc(100vw - 30px);
  margin: 0 7px;
  text-align: center;
  position: relative;

}

.workout-cards-item:first-child {
  margin-left: 15px;
}

.workout-cards-item:last-child {
  margin-right: 15px;
}

.workout-cards-item-background {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0px;
  left: 0;
  background-size: cover;
  background-position: center;

}

.workout-cards-item-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.workout-cards-item-content h2 {
  margin: 32px 0 7px;

}

.workout-cards-item-content-icons {
  margin-top: 20px;
}

.workout-cards-item-content-icons ul {
  display: inline-block;
}

.workout-cards-item-content-icons li {
  display: inline-block;
  margin: 0 2px;
}

.workout-cards-item-content-icons li:first-child {
  margin-left: 10px;
}

// Lorem ipsum ----------
=======
.card-stack-container {
  //Positioning
  position: relative;
  //Box-model
  width: calc(100vw - $medium*2);
  padding: 0 $medium;
  margin-top: -$huge;
  z-index: 20;

  & > p.display {
    text-align: center;
    margin-bottom: $small;
  }

  .card-stack {
    //Box-model
    margin-bottom: $medium;

    .card-main {
      //Box-model
      width: 100%;
      //Visual
      background-color: $lightcolor;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,.5);

      .image-container {
        //Positioning
        float: left;
        //Box-model
        width: 24rem;
        height: 18rem;
        //Visual
        background-color: $darkcolor;
        background-position: center;
        background-size: cover;

        .image-overlay {
          //Positioning
          position: relative;
          //Box-model
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          //Visual
          background-color: rgba($background-color, .75);

          .icon-container {
            .hexagon-back {
              margin: auto;
              width: 13rem;
              height: 11.9rem;
              background-size: contain;
              text-align: center;
            }
          }
        }
      }
      .content-container {
        //Positioning
        float: left;
        //Box-model
        width: calc(100% - 32rem);
        height: calc(18rem - $medium);
        padding: $medium $large 0 $large;
        //Visual

        .info-container {
          h2, p.display { color: $darkcolor !important; }
          p.display { display: inline-block; margin-right: $x-large; }
        }
        .sub-container {
          margin-top: $x-small;

          img {
            margin-right: $x-small;
          }
        }
      }
    }
    .card-secondary {
      //Box-model
      width: calc(100% - 1rem);
      height: 0.5rem;
      margin: auto;
      //Visual
      background-color: rgba($lightcolor, .35);
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
    }
    .card-tertiary {
      //Box-model
      width: calc(100% - 2rem);
      height: 0.5rem;
      margin: auto;
      //Visual
      background-color: rgba($lightcolor, .15);
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
    }
  }
}
>>>>>>> master
