
// Navbar
.unified-bar-container {
  //Positioning
  position: fixed;
  left: 0;
  top: 0;
  //Box-model
  width: 100vw;
  min-height: 8.8rem;
  //Visual
  background-color: $darkcolor;
  //Misc
  z-index: 1;

  .navbar {
    //Box-model
    width: 100vw;
    height: 8.8rem;
    //Typography
    line-height: 8.8rem;

    ul {
      @include ul-list;

      li {
        //Positioning
        float: left;
        //Box-model
        width: calc(100vw - 16rem);
        //Typography
        text-align: center;

        img { vertical-align: middle; }

        &:first-child,&:last-child { width: 4.8rem; }
      }
    }
  }
}

// Toolbar
.toolbar-container {
  //Positioning
  position: absolute;
  left: 0;
  top: 8.8rem;
  //Box-model
  width: 100vw;
  min-height: 6.8rem;
  //Visual
  background-color: $darkcolor;

  .searchbar-container {
    //Box-model
    width: 100vw;
    height: 9.2rem;
    //Typography
    line-height: 6.8rem;

    ul {
      @include ul-list;

      li {
        //Positioning
        float: left;
        //Box-model
        width: calc(100vw - 16rem);
        height: 6.8rem;
        //Typography
        text-align: center;

        img { vertical-align: middle; }

        &:first-child,&:last-child { width: 4.8rem; }
      }
    }
  }
  .filter-container {
    //Box-model
    width: 100vw;
    height: 6.8rem;
    //Typography
    line-height: 6.8rem;

    ul {
      @include ul-list;

      li {
        //Positioning
        float: left;
        //Box-model
        width: percentage(1/3);
        height: 6.8rem;
        //Typography
        text-align: center;
        border-bottom: 4px solid $darkcolor;

        &.active {
          border-bottom: 4px solid $trainingcolor;

          h3 {
            color: $trainingcolor;
            font-weight: 700;
          }
        }

        a { text-decoration: none; }
      }
    }
  }
}
