
.tabbar-container {
  //Positioning
  position: fixed;
  left: 0;
  bottom: 0;
  //Box-model
  width: 100vw;
  height: 9.8rem;
  //Typography
  //Visual
  background-color: rgba(26,30,33,.9);
  //Misc

  .tab {
    width: 20%;
    height: 100%;
    float: left;

    &.active {
      background-color: $dietcolor;
    }
  }
}
