
.tabbar-container {
  //Positioning
  position: fixed;
  left: 0;
  bottom: 0;
  //Box-model
  width: 100vw;
  height: 9.8rem;
  //Typography
  //Visual
  background-color: rgba(26,30,33,.9);
  -webkit-backdrop-filter: blur(0.5rem);
  //Misc
  z-index: 300;

  .tab {
    width: 20%;
    height: 100%;
    padding-top: 1.0rem;
    float: left;
    text-align: center;
    text-decoration: none;

    .tabbar-icon {
      opacity: .2;
    }

    p {
      font-size: 2.0rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    &.active {
      .tabbar-icon {
        opacity: inherit;
      }
    }
    &.active#tab-training { background-color: $trainingcolor; }
    &.active#tab-diet { background-color: $dietcolor; }
    &.active#tab-today { background-color: $todaycolor; }
    &.active#tab-me { background-color: $mecolor; }
    &.active#tab-more { background-color: $morecolor; }
  }
}

// TODO: See if we can rewrite the active tabs.
