
.tabbar-container {
  //Positioning
  position: fixed;
  left: 0;
  bottom: 0;
  //Box-model
  width: 100vw;
  height: 9.8rem;
  //Typography
  //Visual
  background-color: red;
  //Misc

  .tab {
    width: 20%;
    height: 100%;
    background-color: blue;
  }
}
